* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

svg path {
    stroke: inherit;
    fill: inherit;
}

.background_color {
    background: linear-gradient(-110deg, rgba(50, 50, 100, 1), rgba(50, 50, 100, 1), rgba(100, 62, 114, 1));
}

.link_hover:hover {
    a {
        color: rgba(240, 20, 90, 1);
    }

    svg {
        stroke: rgba(240, 20, 90, 1);
    }
}